<div>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span class="menu-spacer"></span>
              <div fxLayoutAlign="left left">
                <a mat-button [routerLink]="'/products'"> Products </a>
                <a mat-button [routerLink]="'/targets'"> Targets </a>
              </div>
              <span class="fill-space"></span>
              <div fxLayoutAlign="center center">
                  <button #addButton mat-icon-button (click)="onClick()" [color]="'success'" >
                      <mat-icon>add</mat-icon>
                  </button>
              </div>
        </mat-toolbar-row>
        </mat-toolbar>
        </div>
        
        <mat-sidenav-container>
            <mat-sidenav #sidenav>
              <mat-nav-list>
                <a mat-list-item [routerLink]="'/products'"> Products </a>
                <a mat-list-item [routerLink]="'/targets'"> Targets </a>
                <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
              </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
              <div style="height: 88vh;">
                <router-outlet></router-outlet>
              </div>
            </mat-sidenav-content>
          </mat-sidenav-container>
